/***** General *****/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

:focus {
  outline: 0 !important
}

strong {
  font-weight: 600;
}

a, a:hover, a:focus {
  color: #0dc0c0;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
  margin-top: 10px;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 400;
  line-height: 56px;
}

h3 {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}

img {
  max-width: 100%;
}

video {
  display: inline-block;
}

::-moz-selection {
  background: #ccc; color: #fff; text-shadow: none;
}
::selection {
  background: #ccc; color: #fff; text-shadow: none;
}


/***** Buttons *****/

.btn {
  border-radius: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;

  &:focus, &:active:focus, &.active:focus {
    outline: 0;
    color: #fff;
  }
}

.btn-lg {
  display: inline-block;
  height: 52px;
  margin:20px;
  padding: 0 20px;
  background: #0dc0c0;
  font-size: 22px;
  line-height: 48px;
  color: #fff;

  &:hover, &:focus, &:active, &.active {
    background: #0dc0c0;
    color: #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}

.btn-primary {
  display: inline-block;
  height: 52px;
  margin: 0;
  margin-bottom:40px;
  padding: 0 20px;
  background: none;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;

  &:hover, &:focus, &:active, &.active {
    background: #fff;
    color: #0dc0c0;
    border: 1px solid #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }

}

.btn-top {
  display: inline-block;
  height: 52px;
  margin:20px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 48px;
  background: #2d323a;
  border: 1px solid #24282e;
  color: #c9d1d6 !important;
  -webkit-box-shadow: inset 0 1px 0 #363c46;
  -moz-box-shadow: inset 0 1px 0 #363c46;
  box-shadow: inset 0 1px 0 #363c46;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

  &:hover, &:focus, &:active, &.active {
    background: #384147;
    border: 1px solid #32383f;
    color: #e8edef !important;
    -webkit-box-shadow: inset 0 1px 0 #424c54;
    -moz-box-shadow: inset 0 1px 0 #424c54;
    box-shadow: inset 0 1px 0 #424c54;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}

.btn-top-white {
  display: inline-block;
  height: 52px;
  margin:20px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 48px;
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &:hover, &:focus, &:active, &.active {
    background: rgba(250, 250, 250, 0.05);
    border: 1px solid rgba(250, 250, 250, 0.8);
    color: #fff !important;
    -webkit-box-shadow: 0 0 12px rgba(250, 250, 250, 0.15);
    -moz-box-shadow: 0 0 12px rgba(250, 250, 250, 0.15);
    box-shadow: 0 0 12px rgba(250, 250, 250, 0.15);
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}


/***** Form elements *****/

.form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &:focus {
    border-color: #98A0A8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

input[type="text"],
textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: none;
  border: 1px solid #98A0A8;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #999;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;

  &:focus {
    outline: 0;
    border: 1px solid #98A0A8;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #888;
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #888;
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #888;
}

.btn-subscribe,
.btn-contact {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 52px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: #0dc0c0;
  border: 1px solid #09b1b9;
  color: #fff !important;
  -webkit-box-shadow: inset 0 1px 0 #0fc8c8;
  -moz-box-shadow: inset 0 1px 0 #0fc8c8;
  box-shadow: inset 0 1px 0 #0fc8c8;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;

  &:hover {
    background: #009ca8;
    border: 1px solid #0092a0;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #00a6b1;
    -moz-box-shadow: inset 0 1px 0 #00a6b1;
    box-shadow: inset 0 1px 0 #00a6b1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }

  &:active {
    outline: 0;
    background: #009ca8;
    border: 1px solid #0092a0;
    color: #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #00a6b1;
    -moz-box-shadow: inset 0 1px 0 #00a6b1;
    box-shadow: inset 0 1px 0 #00a6b1;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 0;
    color: #fff;
  }
}


/***** Top menu *****/

.navbar-default {
  font-family: 'Dosis', sans-serif;
  border:none;
  border-radius: 0;
  margin-bottom: 0;
  width:100%;
  min-height: 50px;
  padding: 20px 0;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  background: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;

  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    color: #0dc0c0 !important;
    background-color: transparent;
  }

  .navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
    color: #0dc0c0 !important;
    background-color: transparent;
  }

  .navbar-nav>li>a {
    color: #323A45;
    font-weight: 700;
    font-size: 16px;

    &:hover {
      color: #0dc0c0 !important;
    }
  }

  &.menu-top{
    background-color: transparent;
    -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
    width:100%;

    li a{
      color: #f3f3f3 !important;
    }

    .navbar-brand{
      color: #f3f3f3 !important;
    }
  }

  &.menu-shrink{
    background-color: #323A45;
    border-bottom: 2px solid #bdbdbd;
    width:100%;
    padding: 5px;
  }

  li a{
    color: #bdbdbd !important;
  }
  .navbar-brand{
    color: #323A45 !important;
  }

  .navbar-toggle {
    border-color: #323A45;
    margin: 10px;

    &:hover, &:focus {
      background-color: #323A45;
    }

    .icon-bar {
      background-color: #0dc0c0;
    }
  }
}

.navbar-brand{
  font-weight: 700;
  color: #0dc0c0 !important;
  font-size: 22px;
  line-height: 20px;
  padding: 0;
}

.navbar-collapse.in {
  overflow: initial !important;
}


/***** Top content *****/

#home {
  height: 100%;
}

.top-content {
  margin: 0 auto;
  text-align: center;
  color: #fff;

  .text {
    padding-top: 50px;
  }

  h2 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    line-height: 80px;
    margin: 110px 0 10px 0;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.7);

  }

  h3 {
    font-size: 28px;
    line-height: 80px;
    margin: 10px auto;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.7);
  }

  .logo {
    h1 {
      margin: 0;
    }

    a {
      display: inline-block;
      font-size: 58px;
      line-height: 68px;
      font-weight: 600;
      color: #0dc0c0;

      &:hover {
        color: #0dc0c0;
      }
    }
  }

  .description {
    margin: 40px 0 10px 0;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
  }

  .top-button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.inner-bg {
  padding: 0;
  padding-top: 10%;
  padding-bottom: 20%;
  /*background-color: rgba(4, 209, 209, 0.2)*/
}

.hero {
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
}

.pretzel-video {
  min-height: 100%;
  min-width:100%;
  top:0;
  left:0;
}


/***** Features *****/

.features-container {
  margin: 0 auto;
  padding-bottom: 60px;
  color: #888;
  text-align: center;
}

.features {
  margin-top: 60px;
  padding-bottom: 10px;
}

@for $i from 1 through 6 {
  .features-box#{$i} {
    text-align: center;
    background: transparent;
    padding-top: 40px;
    padding-bottom: 40px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;

    @if ($i == 3) {
      border-bottom: 1px solid #E3E3E3;
    } @else if ($i == 4 or $i == 5) {
      border-right: 1px solid #E3E3E3;
    } @else if ($i == 6){

    }@else {
      border-right: 1px solid #E3E3E3;
      border-bottom: 1px solid #E3E3E3;
    }

    &:hover{
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;

      .icon{
        -o-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;

        i{
          color: #0dc0c0;
          -o-transition: all .3s;
          -moz-transition: all .3s;
          -webkit-transition: all .3s;
          -ms-transition: all .3s;
          transition: all .3s;
        }
      }
    }

    h4 {
      padding: 10px 0;
      font-size: 24px;
      font-weight: 300;
      color: #444;
      line-height: 28px;
    }

    p {
      padding: 0 24px;
      font-size: 14px;
      line-height: 24px;
    }

    .icon{
      position: relative;
      text-align: center;
      display: inline-block;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
      border-radius: 30%;
      background-color: rgba(255, 166, 89, 0.8);

      img {
        padding: 30px;
      }

      i{
        color: #313538;
        font-size: 48px;
        -o-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
      }
    }
  }
}


/***** Product *****/

.product-container {
  margin: 0 auto;
  padding-bottom: 0;
  background: #f4f4f4;
  color: #888;
  text-align: center;
}

.product {
  margin-top: 60px;

  h3 {
    font-family: 'Pacifico', cursive;
    color: #555;
  }

  p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
  }
}

.product-text {
  margin-top: 60px;
  padding-bottom: 10px;

  p {
    margin-top: 30px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
  }
}

.product-img {
  text-align: center !important;
  margin-top: 30px;
}

.product-bg1 {
  background: #f4f4f4;
  color: #888;

  h3 {
    color: #444;
  }
}

.product-bg2 {
  background: #fff;
  color: #888;
  text-align: left;
  padding-top: 60px;

  h5 {
    color: #444;
    font-size: 18px;
    font-weight: 400;
  }
}

.product-button {
  margin-top: 40px;
  margin-left: 10px;

  i {
    padding-right: 8px;
    font-size: 24px;
    vertical-align: middle;
  }
}

.productbox {
  padding-left: 95px;
  position: relative;
  margin-bottom: 60px;

  &:hover div {
    color: #fff !important;
    background-color: #0dc0c0 !important;
  }

  div {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    left: 0;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    color: #0dc0c0 !important;
    border-color: #0dc0c0 !important;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}


/***** Video *****/

.video-container {
  margin: 0 auto;
  padding-bottom: 60px;
  color: #888;
  text-align: center;
  background: #f4f4f4;
}
.video h3 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  font-weight: 300;
  color: #555;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.video-iframe {
  width: 80%;
  height: 550px;
}


/***** Gallery *****/

.galleryshot-container {
  margin: 0 auto;
  padding-bottom: 60px;
  color: #888;
  text-align: center;
}
.galleryshot h3 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  font-weight: 300;
  color: #555;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.galleryshot-wrap {
  position:relative;
  overflow:hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  &:hover {
    img {
      transform:scale(1.1);
      -ms-transform:scale(1.2); /* IE 9 */
      -moz-transform:scale(1.2); /* Firefox */
      -webkit-transform:scale(1.2); /* Safari and Chrome */
      -o-transform:scale(1.2); /* Opera */
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
    }

    .galleryshot-img {
      opacity:1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      cursor: url('../img/fork.png'), url('../img/fork.png'), move;
    }
  }

  img {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.galleryshot-img {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
  opacity:0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/***** Testimonials *****/

.testimonials {
  margin-top: 60px;
  padding-bottom: 70px;
  text-align: center;

  h3 {
    font-family: 'Pacifico', cursive;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 300;
    color: #555;
    line-height: 36px;
  }

  h4{
    color:#555;
    font-weight: 300;
    line-height: 32px;

    i{
      color:#f99200;
    }
  }

  p{
    font-size: 14px;
    color: #323A45;
    line-height: 20px;
    font-weight: 700;
  }

  img{
    width:100px;
    height:100px;
    display:block;
    margin:10px auto;
    padding: 0;
    border-radius:100px;
  }
}

/***** Subscription form *****/

.subscribe-container {
  margin: 0 auto;
  padding-bottom: 50px;
  background: #f4f4f4;
  color: #888;
  text-align: center;
}

.subscribe {
  margin-top: 60px;

  h3 {
    font-family: 'Pacifico', cursive;
    color: #555;
  }

  p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  form {
    margin-top: 40px;
    margin-bottom: 20px;

    input {
      width: 362px;
      height: 52px;
      background: #fff;
      border: none;
      border-bottom: 1px solid #E3E3E3;

      &:focus {
        width: 362px;
        height: 52px;
        background: #fff;
        border: none;
        border-bottom: 1px solid #E3E3E3;
      }
    }

    button {
      width: 130px;
      height: 52px;
    }
  }
}

.success-message, .error-message {
  font-size: 22px;
  line-height: 36px;
}

.success-message {
  margin: 20px 0 10px 0;
}

.error-message {
  margin: 10px 0;
  color: #F00;
}

/***** Team *****/

.team-container {
  margin: 0 auto;
  background: url("../img/backgrounds/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.inner-team {
  padding-bottom: 60px;
  background-color: rgba(4, 209, 209, 0.4);
}

.team {
  margin-top: 60px;
  padding-bottom: 10px;

  h3 {
    font-family: 'Pacifico', cursive;
    color: #fff;
  }

  p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.team-member{
  position: relative;

  img{
    max-width:100%;
    width:100%;
    height: auto;
    margin-bottom: 20px;
  }

  h4{
    position: absolute;
    bottom: 50px;
    left:20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding-right: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  p{
    position: absolute;
    bottom: 30px;
    left:20px;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
  }

  .contact-details{
    position: absolute;
    bottom: 90px;
    left:0;
    width:100%;

    ul{
      margin-bottom: 20px;
      width:100%;
      z-index: 100;
      text-align: center;
      transition: all 0.7s;
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      -o-transition: all 0.7s;

      li{
        padding: 0;
      }

      a{
        padding: 10px;
        width:40px;
        height: 40px;
        text-align: center;
        color:#fff;
        display: inline-block;
        opacity: 0;
        z-index: 100;
        line-height: 20px;
        position: relative;

        &:hover{
          background: rgba(255,255,255,0.2);
        }
      }

      i{
        font-size: 20px;
      }
    }
  }

  &:hover .contact-details ul a{
    opacity: 1;
  }
}


/***** Contact *****/

.inner-contact {
  margin: 0 auto;
  background-color: rgba(40, 42, 46, 0.9);
}

.contact-container {
  margin: 0 auto;
  background: url("../img/2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  margin-top: 60px;
  padding-bottom: 20px;
  text-align: center;

  h3 {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    line-height: 36px;
  }

  p {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }
}

.form-group,
.contact-address{
  h4 {
    padding: 0 0 10px 0;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 28px;
  }
}

.contact-form{
  padding-bottom: 80px;

  p {
    margin: 15px 0 0 0;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
  }

  form {
    margin: 15px 0 0 0;

    input, textarea {
      height: 52px;
      margin-bottom: 20px;
    }

    textarea {
      height: 162px;
      margin-bottom: 20px;
      padding: 0 10px;
      vertical-align: middle;
      background: none;
      border: 1px solid #98A0A8;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 50px;
      color: #999;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s;
      transition: all .3s;
    }

    button {
      width: 130px;
      height: 52px;
    }

    .contact-error {
      border-color: #D00;
    }
  }
}

.contact-address{
  padding-bottom: 80px;

  p {
    margin-bottom: 24px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;

    i {
      padding-right: 15px;
      font-size: 18px;
      color: #fff;
      vertical-align: middle;
    }
  }
}

/***** Footer *****/

.follow-us {
  text-align:center;
}

#footer {
  background-color: #fff;
  padding: 60px 0 160px;
  text-align:center;

  h3 {
    font-family: 'Pacifico', cursive;
    color: #555;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
  }

  p {
    color: #888;
    width: 60%;
    margin: 0 auto 40px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}

#footer2 {
  position:relative;
  text-align:center;
  padding:39px 0 36px;
  background: #222;
  color:#999;
  margin:0 0;
  font-size:13px;
  font-weight:400;
}

.copyright a {
  color:#aaa;

  &:hover {
    color: #0dc0c0;
  }
}

.social-icon {
  padding-left: 70px;
  position: relative;
  margin-bottom: 60px;

  &:hover div {
    color: #fff !important;
    background-color: #0dc0c0 !important;
  }

  div {
    position: absolute;
    width: 64px;
    height: 64px;
    border: 1px solid;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    left: 0;
    line-height: 64px;
    text-align: center;
    font-size: 20px;
    color: #0dc0c0 !important;
    border-color: #0dc0c0 !important;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
  }
}


/***** Media queries *****/
@media (max-width: 1370px) {
  .inner-bg {
    padding-top: 15%;
    padding-bottom: 10%;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .top-content .text {
    padding-top: 25px;
  }

  .features p, .product-text p, .team p, .contact p {
    padding: 0;
  }
  .features-box1, .features-box2, .features-box3, .features-box4, .features-box5, .features-box6 {
    border: none;
  }
  .highlights {
    padding-left: 20px;
  }
  .intro-box-left {
    text-align: center;
  }
  .intro-box-right {
    text-align: center;
  }
  .video-iframe {
    height: 450px;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-default.menu-top{
    background-color: #323A45 !important;
    border-bottom: 1px solid #eee;
    text-align: center;
    width:100%;
  }

  .navbar-default.menu-top li a{
    color: #fff !important;
  }

  .navbar-default.menu-top .navbar-brand{
    color: #fff !important;
  }

  .top-content .text {
    text-align: center;
  }

  .top-content .logo a, .features h3, .product-text h3, .product-button, .faq-text h3, .subscribe h3, .testimonials h3, .team h3, .contact h3 {
    padding: 0 20px;
  }

  .top-content .description, .features p, .product-text p, .faq-text p, .subscribe p, .testimonials p, .team p, .contact p {
    padding: 0 20px;
  }

  .inner-bg {
    padding-top: 5%;
  }

  .top-content h2 {
    font-size: 32px;
    line-height: 52px;
    margin: 110px 0 10px 0;
  }

  .features-box p, .team-member p, .contact-address p {
    padding: 0 20px;
  }

  .features-box1, .features-box2, .features-box3, .features-box4, .features-box5, .features-box6 {
    border: none;
  }

  .highlights {
    padding-left: 20px;
  }
  .intro-box-left {
    text-align: center;
  }
  .intro-box-right {
    text-align: center;
  }

  .contact-form, .contact-address {
    text-align: center;
  }

  .contact-form {
    padding-bottom: 40px;
  }

  .contact-form form input,
  .contact-form form textarea {
    width: 100%;
  }

  .contact-address {
    padding-bottom: 65px;
  }

  .reviews-panel p {
    padding: 20px;
    margin-bottom: 0;
  }

  .copyright, .social-icon {
    text-align: center;
  }

  .copyright p {
    padding: 0 20px;
  }

  .social-icon {
    margin-top: 15px;
  }
  .video-iframe {
    height: 400px;
  }
}

@media (max-width: 540px) {
  .navbar-default{
    padding: 0;
  }

  .navbar-default.menu-top li a{
    color: #fff !important;
  }
  .navbar-default.menu-top .navbar-brand{
    color: #fff !important;
  }

  .subscribe form input {
    width: 90%;
  }

  .subscribe form button {
    width: 90%;
    margin-top: 10px;
  }
  .video-iframe {
    height: 300px;
  }

  .social-icon {
    padding-left: 50px;
  }

  .social-icon div {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .navbar-default.menu-top li a{
    color: #fff !important;
  }
  .navbar-default.menu-top .navbar-brand{
    color: #fff !important;
    margin: 5px;
  }

  .video-iframe {
    height: 200px;
  }
}

@media (max-width: 345px) {
  .navbar-default.menu-top li a{
    color: #fff !important;
  }

  .top-content h2, .top-content .logo a, .features h3, .product-text h3, .product-button, .faq-text h3, .subscribe h3, .testimonials h3, .team h3, .contact h3 {
    padding: 0 20px;
  }
  .top-content .description {
    font-size: 22px;
    line-height: 32px;
  }
  .video-iframe {
    height: 200px;
  }

  .btn-lg {
    height: auto;
    padding-bottom: 2px;
  }

  .btn-primary {
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}